$ds: polygon(42.88% 59.62%, 46.13% 57.19%, 42.83% 53.56% ),
polygon(38.79% 60.27%, 42.88% 59.62%, 40.96% 54.83% ),
polygon(40.96% 54.83%, 42.88% 59.62%, 42.83% 53.56% ),
polygon(34.71% 55.13%, 38.79% 60.27%, 38.16% 55.13% ),
polygon(30.09% 60.27%, 38.79% 60.27%, 34.71% 55.13% ),
polygon(44.51% 45.02%, 49.29% 45.29%, 44.04% 39.58% ),
polygon(48.59% 51.79%, 49.29% 45.29%, 44.51% 45.02% ),
polygon(44.04% 50.62%, 48.59% 51.79%, 44.51% 45.02% ),
polygon(46.13% 57.19%, 48.59% 51.79%, 44.04% 50.62% ),
polygon(42.83% 53.56%, 46.13% 57.19%, 44.04% 50.62% ),
polygon(34.71% 34.9%, 30.09% 29.73%, 34.71% 55.13% ),
polygon(42.9% 30.31%, 38.54% 29.73%, 40.59% 35.19% ),
polygon(46.35% 33.13%, 42.9% 30.31%, 40.59% 35.19% ),
polygon(42.73% 36.63%, 46.35% 33.13%, 40.59% 35.19% ),
polygon(48.54% 38.07%, 46.35% 33.13%, 42.73% 36.63% ),
polygon(30.09% 29.73%, 30.09% 60.27%, 34.71% 55.13% ),
polygon(44.04% 39.58%, 48.54% 38.07%, 42.73% 36.63% ),
polygon(38.54% 29.73%, 30.09% 29.73%, 34.71% 34.9% ),
polygon(44.04% 39.58%, 49.29% 45.29%, 48.54% 38.07% ),
polygon(36.79% 34.9%, 38.54% 29.73%, 34.71% 34.9% ),
polygon(40.59% 35.19%, 38.54% 29.73%, 36.79% 34.9% ),
polygon(38.16% 55.13%, 38.79% 60.27%, 40.96% 54.83% ),
polygon(57.98% 39.17%, 54.98% 43.88%, 62.23% 41.21% ),
polygon(54.98% 43.88%, 60.2% 46.9%, 62.23% 41.21% ),
polygon(62.23% 41.21%, 60.2% 46.9%, 67.22% 43.41% ),
polygon(58.02% 35.42%, 53.86% 33.37%, 57.29% 37.31% ),
polygon(60.2% 46.9%, 63.9% 48.23%, 67.22% 43.41% ),
polygon(57.29% 37.31%, 52.87% 37.73%, 57.98% 39.17% ),
polygon(52.87% 37.73%, 54.98% 43.88%, 57.98% 39.17% ),
polygon(53.86% 33.37%, 52.87% 37.73%, 57.29% 37.31% ),
polygon(66.04% 51.4%, 64.91% 54.34%, 70.66% 51.38% ),
polygon(69.75% 46.51%, 66.04% 51.4%, 70.66% 51.38% ),
polygon(64.91% 54.34%, 69.57% 56.29%, 70.66% 51.38% ),
polygon(65.56% 49.55%, 66.04% 51.4%, 69.75% 46.51% ),
polygon(67.22% 43.41%, 65.56% 49.55%, 69.75% 46.51% ),
polygon(63.9% 48.23%, 65.56% 49.55%, 67.22% 43.41% ),
polygon(70.01% 38.46%, 67.72% 31.73%, 64.11% 35.34% ),
polygon(52.04% 50.33%, 54.82% 58.14%, 56.54% 49.75% ),
polygon(56.54% 49.75%, 54.82% 58.14%, 58.19% 54.19% ),
polygon(61.54% 55.6%, 66.48% 59.7%, 64.91% 54.34% ),
polygon(54.82% 58.14%, 61.49% 60.81%, 58.19% 54.19% ),
polygon(66.48% 59.7%, 69.57% 56.29%, 64.91% 54.34% ),
polygon(58.19% 54.19%, 61.49% 60.81%, 61.54% 55.6% ),
polygon(61.18% 34.31%, 61.23% 29.21%, 58.02% 35.42% ),
polygon(56.72% 30.27%, 53.86% 33.37%, 58.02% 35.42% ),
polygon(61.23% 29.21%, 56.72% 30.27%, 58.02% 35.42% ),
polygon(67.72% 31.73%, 61.23% 29.21%, 61.18% 34.31% ),
polygon(64.11% 35.34%, 67.72% 31.73%, 61.18% 34.31% ),
polygon(65.38% 38.73%, 70.01% 38.46%, 64.11% 35.34% ),
polygon(61.49% 60.81%, 66.48% 59.7%, 61.54% 55.6% );

$frontend: polygon(13.51% 48.21%, 8.66% 48.21%, 13.51% 50.84% ),
polygon(14.28% 44.54%, 14.28% 41.92%, 8.66% 44.54% ),
polygon(13.51% 50.84%, 8.66% 48.21%, 8.66% 50.84% ),
polygon(8.66% 57.43%, 8.66% 48.21%, 6.31% 57.43% ),
polygon(6.31% 57.43%, 8.66% 48.21%, 6.31% 41.92% ),
polygon(8.66% 44.54%, 14.28% 41.92%, 6.31% 41.92% ),
polygon(8.66% 48.21%, 8.66% 44.54%, 6.31% 41.92% ),
polygon(16.23% 41.92%, 16.23% 57.43%, 18.58% 48.48% ),
polygon(19.05% 50.95%, 20.23% 51.13%, 20.31% 48.48% ),
polygon(18.58% 48.48%, 19.05% 50.95%, 20.31% 48.48% ),
polygon(18.58% 50.95%, 19.05% 50.95%, 18.58% 48.48% ),
polygon(16.23% 57.43%, 18.58% 57.43%, 18.58% 48.48% ),
polygon(20.31% 48.48%, 20.23% 51.13%, 22.42% 48.28% ),
polygon(22.42% 48.28%, 20.23% 51.13%, 22.67% 50.58% ),
polygon(23.88% 57.43%, 26.68% 57.43%, 25.26% 54.4% ),
polygon(23.93% 51.88%, 22.18% 54.05%, 25.26% 54.4% ),
polygon(22.18% 54.05%, 23.88% 57.43%, 25.26% 54.4% ),
polygon(20.23% 51.13%, 20.94% 51.77%, 23.93% 51.88% ),
polygon(20.94% 51.77%, 22.18% 54.05%, 23.93% 51.88% ),
polygon(23.32% 46.47%, 25.74% 46.26%, 23.01% 45.2% ),
polygon(22.67% 50.58%, 24.97% 49.15%, 22.42% 48.28% ),
polygon(25.74% 46.26%, 25.23% 43.82%, 23.01% 45.2% ),
polygon(23.01% 45.2%, 25.23% 43.82%, 22.12% 44.59% ),
polygon(23.08% 47.63%, 24.97% 49.15%, 23.32% 46.47% ),
polygon(22.42% 48.28%, 24.97% 49.15%, 23.08% 47.63% ),
polygon(22.67% 50.58%, 20.23% 51.13%, 23.93% 51.88% ),
polygon(24.97% 49.15%, 25.74% 46.26%, 23.32% 46.47% ),
polygon(21.17% 41.92%, 16.23% 41.92%, 18.58% 44.54% ),
polygon(25.23% 43.82%, 23.88% 42.33%, 22.12% 44.59% ),
polygon(20.41% 44.54%, 21.17% 41.92%, 18.58% 44.54% ),
polygon(18.58% 44.54%, 16.23% 41.92%, 18.58% 48.48% ),
polygon(23.88% 42.33%, 21.17% 41.92%, 20.41% 44.54% ),
polygon(22.12% 44.59%, 23.88% 42.33%, 20.41% 44.54% ),
polygon(28.01% 45.79%, 27.48% 49.77%, 29.9% 49.66% ),
polygon(27.48% 49.77%, 29.01% 55.58%, 30.81% 53.65% ),
polygon(29.01% 55.58%, 33.14% 57.69%, 30.81% 53.65% ),
polygon(29.9% 49.66%, 27.48% 49.77%, 30.81% 53.65% ),
polygon(37.23% 55.57%, 38.76% 49.69%, 35.43% 53.67% ),
polygon(36.33% 49.62%, 38.76% 49.69%, 37.22% 43.78% ),
polygon(33.13% 55.01%, 37.23% 55.57%, 35.43% 53.67% ),
polygon(30.81% 53.65%, 33.14% 57.69%, 33.13% 55.01% ),
polygon(33.14% 57.69%, 37.23% 55.57%, 33.13% 55.01% ),
polygon(36.33% 49.62%, 37.22% 43.78%, 35.46% 45.64% ),
polygon(37.22% 43.78%, 33.1% 41.65%, 35.46% 45.64% ),
polygon(35.46% 45.64%, 33.1% 41.65%, 33.13% 44.33% ),
polygon(30.79% 45.66%, 28.01% 45.79%, 29.9% 49.66% ),
polygon(35.43% 53.67%, 38.76% 49.69%, 36.33% 49.62% ),
polygon(29.09% 43.66%, 28.01% 45.79%, 30.79% 45.66% ),
polygon(30.6% 42.27%, 29.09% 43.66%, 30.79% 45.66% ),
polygon(33.13% 44.33%, 33.1% 41.65%, 30.79% 45.66% ),
polygon(33.1% 41.65%, 30.6% 42.27%, 30.79% 45.66% ),
polygon(47.49% 57.43%, 49.85% 57.43%, 47.66% 52.27% ),
polygon(49.85% 57.43%, 49.85% 41.92%, 47.66% 52.27% ),
polygon(42.9% 41.92%, 47.49% 57.43%, 47.66% 52.27% ),
polygon(47.66% 52.27%, 49.85% 41.92%, 47.66% 41.92% ),
polygon(42.8% 57.43%, 42.8% 47.31%, 40.62% 57.43% ),
polygon(40.62% 57.43%, 42.8% 47.31%, 40.62% 41.92% ),
polygon(40.62% 41.92%, 42.8% 47.31%, 42.9% 41.92% ),
polygon(42.8% 47.31%, 47.49% 57.43%, 42.9% 41.92% ),
polygon(60.74% 44.54%, 60.74% 41.92%, 57.3% 44.54% ),
polygon(54.95% 44.54%, 60.74% 41.92%, 51.5% 41.92% ),
polygon(57.3% 57.43%, 57.3% 44.54%, 54.95% 57.43% ),
polygon(51.5% 44.54%, 54.95% 44.54%, 51.5% 41.92% ),
polygon(54.95% 57.43%, 57.3% 44.54%, 54.95% 44.54% ),
polygon(57.3% 44.54%, 60.74% 41.92%, 54.95% 44.54% ),
polygon(64.6% 47.98%, 62.26% 41.92%, 64.6% 54.81% ),
polygon(62.26% 41.92%, 62.26% 57.43%, 64.6% 54.81% ),
polygon(71.1% 57.43%, 71.1% 54.81%, 64.6% 54.81% ),
polygon(70.44% 50.59%, 64.6% 47.98%, 64.6% 50.59% ),
polygon(62.26% 57.43%, 71.1% 57.43%, 64.6% 54.81% ),
polygon(70.44% 47.98%, 64.6% 47.98%, 70.44% 50.59% ),
polygon(70.88% 41.92%, 62.26% 41.92%, 70.88% 44.54% ),
polygon(70.88% 44.54%, 62.26% 41.92%, 64.6% 44.54% ),
polygon(64.6% 44.54%, 62.26% 41.92%, 64.6% 47.98% ),
polygon(79.99% 57.43%, 82.35% 57.43%, 80.16% 52.27% ),
polygon(82.35% 57.43%, 82.35% 41.92%, 80.16% 52.27% ),
polygon(80.16% 52.27%, 82.35% 41.92%, 80.16% 41.92% ),
polygon(75.4% 41.92%, 79.99% 57.43%, 80.16% 52.27% ),
polygon(75.3% 57.43%, 75.3% 47.31%, 73.12% 57.43% ),
polygon(73.12% 57.43%, 75.3% 47.31%, 73.12% 41.92% ),
polygon(75.3% 47.31%, 79.99% 57.43%, 75.4% 41.92% ),
polygon(73.12% 41.92%, 75.3% 47.31%, 75.4% 41.92% ),
polygon(89.24% 57.43%, 91.32% 57.1%, 90.34% 54.67% ),
polygon(88.92% 54.81%, 89.24% 57.43%, 90.34% 54.67% ),
polygon(87.17% 54.81%, 89.24% 57.43%, 88.92% 54.81% ),
polygon(84.82% 57.43%, 89.24% 57.43%, 87.17% 54.81% ),
polygon(87.17% 44.54%, 84.82% 57.43%, 87.17% 54.81% ),
polygon(91.29% 54.02%, 94.22% 53.12%, 91.91% 52.52% ),
polygon(91.91% 52.52%, 94.22% 53.12%, 94.57% 49.82% ),
polygon(92.97% 55.86%, 94.22% 53.12%, 91.29% 54.02% ),
polygon(90.34% 54.67%, 91.32% 57.1%, 91.29% 54.02% ),
polygon(91.32% 57.1%, 92.97% 55.86%, 91.29% 54.02% ),
polygon(84.82% 41.92%, 84.82% 57.43%, 87.17% 44.54% ),
polygon(91.91% 46.92%, 94.19% 46.15%, 91.24% 45.42% ),
polygon(92.15% 49.68%, 94.19% 46.15%, 91.91% 46.92% ),
polygon(94.19% 46.15%, 93.08% 43.64%, 91.24% 45.42% ),
polygon(94.57% 49.82%, 94.19% 46.15%, 92.15% 49.68% ),
polygon(91.91% 52.52%, 94.57% 49.82%, 92.15% 49.68% ),
polygon(89.11% 41.92%, 84.82% 41.92%, 87.17% 44.54% ),
polygon(90.15% 44.69%, 89.11% 41.92%, 87.17% 44.54% ),
polygon(91.33% 42.21%, 89.11% 41.92%, 90.15% 44.69% ),
polygon(93.08% 43.64%, 91.33% 42.21%, 90.15% 44.69% ),
polygon(91.24% 45.42%, 93.08% 43.64%, 90.15% 44.69% );

$meetup: polygon(18.92% 54.58%, 20.21% 60.27%, 21.33% 42.38% ),
polygon(17.6% 60.27%, 20.21% 60.27%, 18.92% 54.58% ),
polygon(16.49% 42.38%, 17.6% 60.27%, 18.92% 54.58% ),
polygon(22.88% 46.18%, 25.4% 42.38%, 21.33% 42.38% ),
polygon(20.21% 60.27%, 22.88% 46.18%, 21.33% 42.38% ),
polygon(25.4% 60.27%, 25.4% 42.38%, 22.88% 46.18% ),
polygon(12.43% 60.27%, 14.95% 60.27%, 12.43% 42.38% ),
polygon(14.95% 46.18%, 17.6% 60.27%, 16.49% 42.38% ),
polygon(12.43% 42.38%, 14.95% 46.18%, 16.49% 42.38% ),
polygon(14.95% 60.27%, 14.95% 46.18%, 12.43% 42.38% ),
polygon(22.88% 60.27%, 25.4% 60.27%, 22.88% 46.18% ),
polygon(37.53% 49.37%, 30.8% 49.37%, 37.53% 52.39% ),
polygon(37.53% 52.39%, 30.8% 49.37%, 30.8% 52.39% ),
polygon(30.8% 49.37%, 28.09% 60.27%, 30.8% 57.26% ),
polygon(38.04% 42.38%, 28.09% 42.38%, 38.04% 45.4% ),
polygon(38.3% 60.27%, 38.3% 57.26%, 30.8% 57.26% ),
polygon(28.09% 42.38%, 28.09% 60.27%, 30.8% 49.37% ),
polygon(30.8% 45.4%, 28.09% 42.38%, 30.8% 49.37% ),
polygon(38.04% 45.4%, 28.09% 42.38%, 30.8% 45.4% ),
polygon(28.09% 60.27%, 38.3% 60.27%, 30.8% 57.26% ),
polygon(43.3% 45.4%, 40.59% 60.27%, 43.3% 57.26% ),
polygon(50.04% 52.39%, 43.3% 49.37%, 43.3% 52.39% ),
polygon(50.8% 60.27%, 50.8% 57.26%, 43.3% 57.26% ),
polygon(40.59% 60.27%, 50.8% 60.27%, 43.3% 57.26% ),
polygon(50.04% 49.37%, 43.3% 49.37%, 50.04% 52.39% ),
polygon(50.55% 45.4%, 40.59% 42.38%, 43.3% 45.4% ),
polygon(50.55% 42.38%, 40.59% 42.38%, 50.55% 45.4% ),
polygon(40.59% 42.38%, 40.59% 60.27%, 43.3% 45.4% ),
polygon(58.83% 45.4%, 62.8% 42.38%, 52.14% 42.38% ),
polygon(52.14% 45.4%, 56.12% 45.4%, 52.14% 42.38% ),
polygon(58.83% 60.27%, 58.83% 45.4%, 56.12% 45.4% ),
polygon(56.12% 45.4%, 58.83% 45.4%, 52.14% 42.38% ),
polygon(62.8% 45.4%, 62.8% 42.38%, 58.83% 45.4% ),
polygon(56.12% 60.27%, 58.83% 60.27%, 56.12% 45.4% ),
polygon(67.24% 42.38%, 64.53% 42.38%, 67.24% 52.07% ),
polygon(75.24% 51.77%, 75.24% 42.38%, 72.53% 42.38% ),
polygon(64.53% 42.38%, 64.53% 51.92%, 67.24% 52.07% ),
polygon(71.7% 56.86%, 74.21% 58.57%, 72.41% 55.32% ),
polygon(70.05% 60.58%, 72.63% 60.03%, 69.96% 57.49% ),
polygon(69.96% 57.49%, 72.63% 60.03%, 71.7% 56.86% ),
polygon(72.63% 60.03%, 74.21% 58.57%, 71.7% 56.86% ),
polygon(72.41% 55.32%, 75.24% 51.77%, 72.53% 52.27% ),
polygon(75.02% 56.33%, 75.24% 51.77%, 72.41% 55.32% ),
polygon(74.21% 58.57%, 75.02% 56.33%, 72.41% 55.32% ),
polygon(67.24% 52.07%, 64.8% 56.46%, 67.35% 55.06% ),
polygon(72.53% 52.27%, 75.24% 51.77%, 72.53% 42.38% ),
polygon(64.53% 51.92%, 64.8% 56.46%, 67.24% 52.07% ),
polygon(64.8% 56.46%, 65.56% 58.45%, 67.35% 55.06% ),
polygon(68.17% 56.82%, 70.05% 60.58%, 69.96% 57.49% ),
polygon(67.35% 55.06%, 67.13% 59.98%, 68.17% 56.82% ),
polygon(67.13% 59.98%, 70.05% 60.58%, 68.17% 56.82% ),
polygon(65.56% 58.45%, 67.13% 59.98%, 67.35% 55.06% ),
polygon(82.57% 53.52%, 85.38% 53.26%, 84.43% 50.2% ),
polygon(80.8% 50.48%, 82.57% 53.52%, 82.29% 50.48% ),
polygon(82.29% 50.48%, 82.57% 53.52%, 84.43% 50.2% ),
polygon(80.8% 45.4%, 78.09% 60.27%, 80.8% 60.27% ),
polygon(85.38% 53.26%, 86.79% 52.42%, 85.28% 49.32% ),
polygon(84.43% 50.2%, 85.38% 53.26%, 85.28% 49.32% ),
polygon(85.28% 49.32%, 87.93% 50.65%, 88.38% 47.88% ),
polygon(86.79% 52.42%, 87.93% 50.65%, 85.28% 49.32% ),
polygon(78.09% 42.38%, 78.09% 60.27%, 80.8% 45.4% ),
polygon(80.8% 53.52%, 82.57% 53.52%, 80.8% 50.48% ),
polygon(87.6% 44.4%, 85.67% 42.64%, 85.15% 46.32% ),
polygon(85.58% 47.93%, 88.38% 47.88%, 85.15% 46.32% ),
polygon(82.44% 42.38%, 78.09% 42.38%, 80.8% 45.4% ),
polygon(85.28% 49.32%, 88.38% 47.88%, 85.58% 47.93% ),
polygon(88.38% 47.88%, 87.6% 44.4%, 85.15% 46.32% ),
polygon(84.06% 45.53%, 82.44% 42.38%, 82.11% 45.4% ),
polygon(82.11% 45.4%, 82.44% 42.38%, 80.8% 45.4% ),
polygon(85.67% 42.64%, 82.44% 42.38%, 84.06% 45.53% ),
polygon(85.15% 46.32%, 85.67% 42.64%, 84.06% 45.53% );
